*{
	background-color: blue;          /* makes the entire background color blue */
}

h2{
	font-family: arial;		/* makes the font of h2 headings arial */
}
	
*{
	color: white;			/* makes the universal font color white */
}

p{
	font-family: arial;		/* makes the font of <p> tags arial */
}

ul{
	font-family: arial;		/* makes the font for lists arial */
}
